#report-list {
  width: 100%;
}

#report-list th {
  font-size: 1.2em;
  color: #fff;
  line-height: 1.4;
  background-color: #007ea7;
}

#report-list th.active,
#report-list th.sortable:hover {
  cursor: pointer;
  background-color: #2da6ce;
}

#report-list tr:nth-child(even) {
  background-color: #f5f5f5;
}

#report-list tr > td {
  padding: 5px;
}

#report-list .bug-path-length {
  width: 5%;
  text-align: center;
}

#report-list .severity {
  text-align: center;
}
