/*** Main stuff ***/

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 10pt;
}

#mainLayout {
  height: 100%;
}

#headerPane {
  height: 33px;
  background-color: #007ea7;
}

#logo {
  font-family: Consolas, 'Courier New', monospace;
  font-size: 20pt;
  color: white;
}

.credits {
  width: 350px;
  text-align: center;
}

.mainMenuButton {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*** Run diff selector ***/

.diffDisplay {
  font-size: 11pt;
  display: inline-block;
  margin-left: 20px;
}

.diffDisplay span {
  font-weight: bold;
  font-family: monospace;
}

.deleteButton {
  float: right;
}

/*** Grid ***/

.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.compact {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
}

/* (via http://stackoverflow.com/a/27961022/1428773) */
.compact:before {
  content: '\200e';
}

/*** Filter fields ***/

.filterText {
  margin-right: 5px;
}

.filterSelect {
  margin-right: 5px;
}

.plusIcon {
  background-image: url(/images/plus.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-block;
}

.minusIcon {
  background-image: url(/images/minus.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

/*** Editor ***/

.checkerstep {
  background-color: #eeb;
}

.checkMsg {
  background-color: #eeb;
  border: 1px solid #aaa;
  display: inline-block;
  padding: 1px 6px;
  margin: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.editorHeader {
  padding: 4px;
  border-bottom: 1px solid lightgrey;
  font-family: monospace;
}

.buildActionInfo dt {
  font-weight: bold;
}

.currentMark {
  background-color: #cdf;
}

.otherFileMsg {
  background-color: #007ea7;
  color: white;
  border: 1px solid #aaa;
  display: inline-block;
  padding: 1px 6px;
  margin: 1px;
  margin-left: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.otherFileMsg:hover {
  text-decoration: underline;
  cursor: pointer;
}
