# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @bruntib

# Documentations.
/docs @bruntib @dkrupp

# Frontend.
/web/server/vue-cli @bruntib @gulyasgergely902

# Any CODEOWNERS file modifications must be approved by repository owner.
/.github/CODEOWNERS @dkrupp
