<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>no-conditional-assignment</string>
			<key>description</key>
			<string>Assignments in conditional expressions are forbidden</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>15f6f7cfcb2bc9923e7ff491b99b8b8e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>7</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>4</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>4</integer>
					</dict>
					<key>message</key>
					<string>Assignments in conditional expressions are forbidden</string>
				</dict>
			</array>
			<key>type</key>
			<string>tslint</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>no-var-keyword</string>
			<key>description</key>
			<string>Forbidden 'var' keyword, use 'let' or 'const' instead</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>fc0691dd844ebd197a0a9fce41a42879</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2</integer>
					</dict>
					<key>message</key>
					<string>Forbidden 'var' keyword, use 'let' or 'const' instead</string>
				</dict>
			</array>
			<key>type</key>
			<string>tslint</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>files/index.ts</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>tslint</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>report-converter</string>
			<key>version</key>
			<string>x.y.z</string>
		</dict>
	</dict>
</dict>
</plist>
