<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>-Wanalyzer-double-free</string>
			<key>description</key>
			<string>double-‘free’ of ‘ptr’</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>cff41672e36e4537c6939e290d9c0350</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>12</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>11</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>11</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>10</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>34</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>10</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>12</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>12</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>11</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>11</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>10</integer>
					</dict>
					<key>message</key>
					<string>allocated here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>10</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>34</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>10</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>11</integer>
					</dict>
					<key>message</key>
					<string>first ‘free’ here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>11</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>11</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>12</integer>
					</dict>
					<key>message</key>
					<string>second ‘free’ here; first ‘free’ was at (2)</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>12</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>12</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>gcc</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>files/double_free.cpp</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>gcc</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>report-converter</string>
			<key>version</key>
			<string>x.y.z</string>
		</dict>
	</dict>
</dict>
</plist>
