lxml~=6.0
sqlalchemy~=2.0
alembic~=1.5
psycopg2-binary~=2.9
psutil~=7.0
portalocker~=3.0

./api/py/codechecker_api/dist/codechecker_api.tar.gz
./api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
