<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-uninitMemberVar</string>
			<key>description</key>
			<string>Member variable 'DynArray &lt; XMLNode * , 10 &gt;::_pool' is not initialized in the constructor.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d87559e56515de8fde05d9615ee4ca5e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>206</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>206</integer>
					</dict>
					<key>message</key>
					<string>Member variable 'DynArray &lt; XMLNode * , 10 &gt;::_pool' is not initialized in the constructor.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-uninitMemberVar</string>
			<key>description</key>
			<string>Member variable 'DynArray &lt; const char * , 10 &gt;::_pool' is not initialized in the constructor.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d91e8ed86ca5f2f6abafb16ffbbf9e9d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>206</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>206</integer>
					</dict>
					<key>message</key>
					<string>Member variable 'DynArray &lt; const char * , 10 &gt;::_pool' is not initialized in the constructor.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-uninitMemberVar</string>
			<key>description</key>
			<string>Member variable 'DynArray &lt; char , 20 &gt;::_pool' is not initialized in the constructor.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8a80f3f6418c3f947fdf76d656ea4bac</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>206</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>206</integer>
					</dict>
					<key>message</key>
					<string>Member variable 'DynArray &lt; char , 20 &gt;::_pool' is not initialized in the constructor.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>206</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_sint</string>
			<key>description</key>
			<string>%d in format string (no. 2) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d2850ff1969e5ec0636f41759987a73e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>409</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>409</integer>
					</dict>
					<key>message</key>
					<string>%d in format string (no. 2) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_sint</string>
			<key>description</key>
			<string>%d in format string (no. 3) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f9d0b4e3ea3982e5b66ce0b248e09199</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>409</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>409</integer>
					</dict>
					<key>message</key>
					<string>%d in format string (no. 3) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_sint</string>
			<key>description</key>
			<string>%d in format string (no. 4) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b25847f37f57a8acc853e8b6bdd37f42</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>409</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>409</integer>
					</dict>
					<key>message</key>
					<string>%d in format string (no. 4) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_sint</string>
			<key>description</key>
			<string>%d in format string (no. 5) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1be9953a48f783a8cf279253d52c8c19</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>409</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>409</integer>
					</dict>
					<key>message</key>
					<string>%d in format string (no. 5) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>portability</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_sint</string>
			<key>description</key>
			<string>%d in format string (no. 6) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>504df513bf6673625622a87d25d7e4eb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>409</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>409</integer>
					</dict>
					<key>message</key>
					<string>%d in format string (no. 6) requires 'int' but the argument type is 'size_t {aka unsigned long}'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>409</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-nullPointerRedundantCheck</string>
			<key>description</key>
			<string>Either the condition 'length==0' is redundant or there is possible null pointer dereference: length.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d0b9aeec27b40cceeba1f26424d3f401</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>433</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>548</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>548</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>433</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>433</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>548</integer>
					</dict>
					<key>message</key>
					<string>Assuming that condition 'length==0' is not redundant</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>548</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>548</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>40</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>547</integer>
					</dict>
					<key>message</key>
					<string>Calling function 'ConvertUTF32ToUTF8', 3rd argument 'length' value is 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>40</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>547</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>40</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>547</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>433</integer>
					</dict>
					<key>message</key>
					<string>Null pointer dereference</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>433</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>433</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>433</integer>
					</dict>
					<key>message</key>
					<string>Either the condition 'length==0' is redundant or there is possible null pointer dereference: length.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>433</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>433</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-nullPointerRedundantCheck</string>
			<key>description</key>
			<string>Either the condition 'length==0' is redundant or there is possible null pointer dereference: length.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>559e131165eacc1170841563fc925ac7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>16</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>440</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>548</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>548</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>548</integer>
					</dict>
					<key>message</key>
					<string>Assuming that condition 'length==0' is not redundant</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>548</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>548</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>40</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>547</integer>
					</dict>
					<key>message</key>
					<string>Calling function 'ConvertUTF32ToUTF8', 3rd argument 'length' value is 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>40</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>547</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>40</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>547</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>440</integer>
					</dict>
					<key>message</key>
					<string>Null pointer dereference</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>440</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>440</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>440</integer>
					</dict>
					<key>message</key>
					<string>Either the condition 'length==0' is redundant or there is possible null pointer dereference: length.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>440</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>440</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-nullPointerRedundantCheck</string>
			<key>description</key>
			<string>Either the condition 'length==0' is redundant or there is possible null pointer dereference: length.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>412b9884489fecfabd6dd7535e03e660</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>14</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>444</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>548</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>548</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>547</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>548</integer>
					</dict>
					<key>message</key>
					<string>Assuming that condition 'length==0' is not redundant</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>548</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>548</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>40</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>547</integer>
					</dict>
					<key>message</key>
					<string>Calling function 'ConvertUTF32ToUTF8', 3rd argument 'length' value is 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>40</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>547</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>40</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>547</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>444</integer>
					</dict>
					<key>message</key>
					<string>Null pointer dereference</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>444</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>444</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>444</integer>
					</dict>
					<key>message</key>
					<string>Either the condition 'length==0' is redundant or there is possible null pointer dereference: length.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>444</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>444</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/local/test_projects/tinyxml2/tinyxml2.cpp</string>
		<string>/local/test_projects/tinyxml2/tinyxml2.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>cppcheck</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.29.0</string>
		</dict>
	</dict>
</dict>
</plist>
