lxml==4.6.2
sqlalchemy==1.3.16
pycodestyle==2.5.0
alembic==1.4.2
psycopg2-binary==2.8.5
pg8000==1.15.2
psutil==5.7.0
portalocker==1.7.0
pylint==2.4.4
nose==1.3.7
mockldap==0.3.0
mkdocs==1.0.4

codechecker_api==6.39.0
codechecker_api_shared==6.39.0

# publish packages to pypi
twine
