# These requirements are exported via setup.py and become the install
# dependencies of the published pip package.
# Avoid pinning exact versions!
# Use version ranges or upper bounds instead (e.g. limited to a major release)
# to let users select a specific compatible version.

lxml~=6.0
portalocker~=3.0
psutil~=7.0
PyYAML~=6.0
types-PyYAML~=6.0
sarif-tools~=3.0
multiprocess~=0.70
setuptools~=80.0
semver~=3.0
argcomplete~=3.0
