@charset "UTF-8";
@import url('generated_fonts.css');

/*** Main stuff ***/

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 10pt;
}

#mainLayout {
  height: 100%;
}

#headerPane {
  height: 33px;
  background-color: #007ea7;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-size: 20pt;
  color: white;
}

#version {
  font-family: 'Source Code Pro', monospace;
  font-size: 16pt;
  padding-left: 12px;
  color: white;
}

.credits {
  width: 350px;
  text-align: center;
}

#loggedin {
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  color: white;
  padding-right: 10px;
}

#header-menu {  
  position: absolute;
  right: 10px;
  top: 10px;
}

/*** Run diff selector ***/

.diffDisplay {
  font-size: 11pt;
  display: inline-block;
  margin-left: 20px;
}

.diffDisplay span {
  font-weight: bold;
  font-family: monospace;
}

.deleteButton {
  float: right;
}

/*** Grid ***/

.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.compact {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
}

/* (via http://stackoverflow.com/a/27961022/1428773) */
.compact:before {
  content: '\200e';
}

/*** Filter fields ***/

.filterText {
  margin-right: 5px;
}

.filterSelect {
  margin-right: 5px;
}

.plusIcon {
  background-image: url(/images/plus.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-block;
}

.minusIcon {
  background-image: url(/images/minus.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

/*** Editor ***/

.checkerstep {
  background-color: #eeb;
}

.checkMsg {
  background-color: #eeb;
  border: 1px solid #aaa;
  display: inline-block;
  padding: 1px 6px;
  margin: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.checkMsg .enum {
  color: gray;
}

.editorHeader {
  padding: 4px;
  border-bottom: 1px solid lightgrey;
  font-family: monospace;
}

.buildActionInfo dt {
  font-weight: bold;
}

.currentMark {
  background-color: #cdf;
}

.otherFileMsg {
  background-color: #007ea7;
  color: white;
  border: 1px solid #aaa;
  display: inline-block;
  padding: 1px 6px;
  margin: 1px;
  margin-left: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.otherFileMsg:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*** BugPathList icons ***/

@font-face {
  font-family: "codechecker";
  src: url("../fonts/codechecker.eot");
  src: url("../fonts/codechecker.eot#iefix") format("embedded-opentype"),
    url("../fonts/codechecker.ttf") format("truetype"),
    url("../fonts/codechecker.woff") format("woff"),
    url("../fonts/codechecker.svg#codechecker") format("svg");
  font-weight: normal;
  font-style: normal;
}

.customIcon {
  font-family: 'codechecker', Sans-Serif !important;
  speak: none;
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 16px;
  height: 16px;
  font-size: 1.125em;
  padding-right: 4px;
}

.customIcon.spacer::before {
  content: "\e000";
}

/* -- Severities -- */
span[class*="severity-"]::before {
  content: "\e001";
}

.customIcon.severity-critical {
  color: #b32424;
}

.customIcon.severity-high {
  color: #f28500;
}

.customIcon.severity-medium {
  color: #d2c20c;
}

.customIcon.severity-low {
  color: #49994a;
}

.customIcon.severity-style {
  color: #9932cc;
}

.customIcon.severity-style::before {
  content: "\e002";
}

.customIcon.severity-unspecified {
  color: #5b6169;
}

/* -- */

.customIcon.pathClosed:before {
  content: "\e003";
}

.customIcon.pathOpened:before {
  content: "\e004";
}

.customIcon.result:before {
  content: "\e005";
}

.customIcon.result {
  color: #2125b6;
}

.customIcon.calling:before {
  content: "\e006";
}

.customIcon.calling {
  color: #1855B6;
}

.customIcon.entered_call:before {
  content: "\e007";
}

.customIcon.entered_call {
  color: #316ecf;
}

.customIcon.returning:before {
  content: "\e008";
}

.customIcon.returning {
  color: #61a2ff;
}

.customIcon.loop_enter:before {
  content: "\e009";
}

.customIcon.loop_execute:before {
  content: "\e00a";
}

.customIcon.loop_back:before {
  content: "\e00b";
}

.customIcon.assume_msg:before {
  content: "\e00c";
}

.customIcon.assume_msg:not(.nocolor) {
  color: #b48a07;
}

.customIcon.assume_exclamation:before {
  content: "\e00d";
}

.customIcon.assume_exclamation {
  color: #ff5c11;
}

.customIcon.msg:before {
  content: "\e00e";
}

/* -UNUSED-
.customIcon.assume_bulb:before {
  content: "\e00f";
}

.customIcon.assume_board:before {
  content: "\e010";
}

.customIcon.assume_board {
  color: #7f410c;
} */

.customIcon.assume_switch:before {
  content: "\e011";
}

.customIcon.assume_switch {
  color: #7f410c;
}

/* Comments */
.comment-btn {
  float: right;
}

.comment-count {
  color: #767676;
  vertical-align: initial;
  padding-left: 3px;
}

.comment-view .comment {
  border: 1px solid #fff;
}

.comment-view .comment:hover {
  background-color: #fbfbfb;
  border: 1px solid #f1f1f1;
}

.comment-view .header {
  position: relative;
}

.comment-view .reply {
  overflow: initial;
}

.comment-view .reply-author {
  margin-bottom: 5px;
}

.comment-view .reply-btn {
  float: right;
  margin-top: 5px;
  margin-right: -5px;
}

.comment .avatar {
  display: table;
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.comment .avatar-content {
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
}

.comment .vb {
  display: grid;
}

.comment .time {
  color: #767676;
}

.comment .author {
  font-weight: bold;
  color: #403d3d;
}

.comment .operations {
  position: absolute;
  top: 0;
  right: 0;
}

/* Comment icons */
.customIcon.edit:before {
  content: "\e012";
}

.customIcon.delete:before {
  content: "\e013";
}

.comment .customIcon {
  cursor: pointer;
  color: #767676;
}

.comment .customIcon:hover {
  color: #000;
}