@charset "UTF-8";
@import url('generated_fonts.css');

/*** Main stuff ***/

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 10pt;
}

.hide {
  display: none !important;
}

#mainLayout {
  height: 100%;
}

#headerPane {
  height: 42px;
  background-color: #007ea7;
}

#logo-container {
  font-family: 'Raleway', sans-serif;
  font-size: 22pt;
  color: white;
}

#logo {
  background: left center no-repeat url(/images/logo.png);
  background-size: 42px;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  padding-right: 5px;
}

#logo, #logo-text {
  display: inline-block;
  vertical-align: middle;
}

#logo-title {
  font-family: Arial, sans serif;
  font-size: 18pt;
  padding-left: 32px;
  color: white;
}

.credits {
  width: 350px;
  text-align: center;
}

#logged-in {
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  color: white;
  padding-right: 10px;
}

#logged-in:hover {
  cursor: pointer;
}

#logged-in:hover .user-name {
  text-decoration: underline;
}

.avatar-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.avatar-wrapper .avatar {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

#profile-menu .header {
  border-bottom: 1px solid #b5bcc7;
  padding-bottom: 5px;
}

#profile-menu .user-name {
  font-weight: bold;
  color: #357ea7;
}

#profile-menu .permission-title {
  padding: 5px 0px;
}

#profile-menu .permissions {
  list-style-type: initial;
  margin: 0;
  padding: 0px 0px 0px 25px;
  font-weight: 600;
}

#header-menu {  
  position: absolute;
  right: 10px;
  top: 10px;
}

/*** Run diff selector ***/

.diffDisplay {
  font-size: 11pt;
  display: inline-block;
  margin-left: 20px;
}

.diffDisplay span {
  font-weight: bold;
  font-family: monospace;
}

.del-btn, .diff-btn {
  float: right;
}

/*** Grid ***/

.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.compact {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
}

/* (via http://stackoverflow.com/a/27961022/1428773) */
.compact:before {
  content: '\200e';
}

/*** Filter fields ***/

.filterText {
  margin-right: 5px;
}

.filterSelect {
  margin-right: 5px;
}

.plusIcon {
  background-image: url(/images/plus.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-block;
}

.minusIcon {
  background-image: url(/images/minus.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-align: center;
}

/*** Editor ***/

.checkerstep {
  background-color: #eeb;
}

.check-msg {
  display: inline-block;
  padding: 3px 6px;
  margin: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.tag.fixit {
  display: inline-block;
  background-color: #8a6d3b;
  padding: 2px 5px;
  color: white;
  text-transform: uppercase;
  margin-right: 5px;
}

.check-msg.info {
  color: #00546f;
  background-color: #bfdfe9;
  border: 1px solid #87a8b3;
}

.check-msg.error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebcccc;
}

.check-msg.fixit {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
}

.checker-enum {
  color: white;
  padding: 1px 5px;
  text-align: center;
  border-radius: 25px;
  margin-right: 5px;
  text-decoration: inherit;
}

.checker-enum.info {
  background-color: #427ea9;
}

.checker-enum.error {
  background-color: #a94442;
}

.checker-enum.fixit {
  background-color: #8a6d3b;
}

.editorHeader {
  border-bottom: 1px solid lightgrey;
  font-family: monospace;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  height: 26px;
}

.editorHeader .filepath {
  display: inline-block;
  padding: 4px;
}

.editorHeader .same-report-selector-wrapper {
  white-space: nowrap;
  display: inline-block;
  padding: 2px 2px 2px 10px;
}

.editorHeader .same-report-selector-label {
  margin-right: 5px;
}

.buildActionInfo dt {
  font-weight: bold;
}

.currentMark {
  background-color: #cdf;
}

.otherFileMsg {
  background-color: #007ea7;
  color: white;
  border: 1px solid #aaa;
  display: inline-block;
  padding: 1px 6px;
  margin: 1px;
  margin-left: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.otherFileMsg:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*** BugPathList icons ***/

@font-face {
  font-family: "codechecker";
  src: url("../fonts/codechecker.eot");
  src: url("../fonts/codechecker.eot#iefix") format("embedded-opentype"),
    url("../fonts/codechecker.ttf") format("truetype"),
    url("../fonts/codechecker.woff") format("woff"),
    url("../fonts/codechecker.svg#codechecker") format("svg");
  font-weight: normal;
  font-style: normal;
}

.customIcon {
  font-family: 'codechecker', Sans-Serif !important;
  speak: none;
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 16px;
  height: 16px;
  font-size: 1.125em;
  text-align: center;
  margin-right: 4px;
}

.customIcon.spacer::before {
  content: "\e000";
}

/* -- Severities -- */
.dojoxGridCell.severity {
  text-align: center;
}

.icon-severity-low {
  background-color: #669603;
}

.icon-severity-low:after {
  content : 'L';
}

.icon-severity-unspecified {
  background-color: #666666;
}

.icon-severity-unspecified:after {
  content : 'U';
}

.icon-severity-style {
  background-color: #9932cc;
}

.icon-severity-style:after {
  content : 'S';
}

.icon-severity-medium {
  background-color: #a9d323;
  color: black;
}

.icon-severity-medium:after {
  content : 'M';
}

.icon-severity-high {
  background-color: #ffa800;
}

.icon-severity-high:after {
  content : 'H';
}

.icon-severity-critical {
  background-color: #e92625;
}

.icon-severity-critical:after {
  content : 'C';
}

span[class*="severity-"] {
  line-height: normal;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

/* -- */

.customIcon.pathOpened {
  opacity: 0.7;
}

.customIcon.result:before {
  content: "\e005";
}

.customIcon.result {
  color: #2125b6;
}

.customIcon.calling:before {
  content: "\e006";
}

.customIcon.calling {
  color: #1855B6;
}

.customIcon.entered_call:before {
  content: "\e007";
}

.customIcon.entered_call {
  color: #316ecf;
}

.customIcon.returning:before {
  content: "\e008";
}

.customIcon.returning {
  color: #61a2ff;
}

.customIcon.loop_enter:before {
  content: "\e009";
}

.customIcon.loop_execute:before {
  content: "\e00a";
}

.customIcon.loop_back:before {
  content: "\e00b";
}

.customIcon.assume_msg:before {
  content: "\e00c";
}

.customIcon.assume_msg:not(.nocolor) {
  color: #b48a07;
}

.customIcon.assume_exclamation:before {
  content: "\e00d";
}

.customIcon.assume_exclamation {
  color: #ff5c11;
}

.customIcon.msg:before {
  content: "\e00e";
}

/* -UNUSED-
.customIcon.assume_bulb:before {
  content: "\e00f";
}

.customIcon.assume_board:before {
  content: "\e010";
}

.customIcon.assume_board {
  color: #7f410c;
} */

.customIcon.assume_switch:before {
  content: "\e011";
}

.customIcon.assume_switch {
  color: #7f410c;
}

.customIcon.bug:before {
  content: "\e001";
}

/* Avatar */
.avatar {
  display: table;
  color: white;
  text-align: center;
  font-weight: bold;
}

.avatar-content {
  display: table-cell;
  vertical-align: middle;
}

/* Comments */
.comment-btn {
  float: right;
}

.comment-count {
  color: #767676;
  vertical-align: initial;
  padding-left: 3px;
}

.comment-view .comment {
  border: 1px solid #fff;
}

.comment-view .comment:hover {
  background-color: #fbfbfb;
  border: 1px solid #f1f1f1;
}

.comment-view .header {
  position: relative;
}

.comment-view .reply {
  overflow: initial;
}

.comment-view .reply-author {
  margin-bottom: 5px;
}

.comment-view .reply-btn {
  float: right;
  margin-top: 5px;
  margin-right: -5px;
}

.comment .avatar {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.comment .avatar-content {
  font-size: 2em;
}

.comment .vb {
  display: grid;
}

.comment .time {
  color: #767676;
}

.comment .author {
  font-weight: bold;
  color: #403d3d;
}

.comment .operations {
  position: absolute;
  top: 0;
  right: 0;
}

/* Comment icons */
.customIcon.edit:before {
  content: "\e012";
}

.customIcon.delete:before {
  content: "\e013";
}

.comment .customIcon {
  cursor: pointer;
  color: #767676;
}

.comment .customIcon:hover {
  color: #000;
}

/* Review status */
.dojoxGridCell.review-status {
  text-align: center;
}

.review-comment {
  margin-left: 5px;
  cursor: help;
  color: grey;
}

.review-comment::before {
  content: "\e00c";
}

.review-comment-message.compact {
  direction: ltr;
}

.review-status-unreviewed::before {
  content: "\e017";
  color: #4b9fd5;
}

.review-status-confirmed-bug::before {
  content: "\e019";
  color: #e92625;
}

.review-status-false-positive::before {
  content: "\e01a";
  color: grey;
}

.review-status-intentional::before {
  content: "\e018";
  color: #669603;
}

.review-comment-tooltip {
  width: 400px;
  word-wrap: break-word;
}

.review-comment-tooltip .header {
  margin: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #586069;
  color: #586069;
}

.review-comment-tooltip .author {
  font-weight: bold;
  padding-right: 5px;
  color: #007ea7;
}

.review-comment-tooltip .time {
  padding-left: 5px;
}

.review-comment-tooltip .avatar {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}

/* Detection status */

.dojoxGridCell.detection-status {
  text-align: center;
}

.detection-status-wrapper {
  display: inline-block;
}

.detection-status-wrapper .customIcon {
  padding-right: 0px;
}

.detection-status-wrapper .num {
  color: #767676;
  padding-left: 2px;
}

/* Detection status icons */

.detection-status-new::before {
  content: "\e01f";
  color: #ec7672;

}

.detection-status-unresolved::before {
  content: "\e001";
  color: #007ea7;
}

.detection-status-resolved::before {
  content: "\e01d";
  color: #669603;
}

.detection-status-reopened::before {
  content: "\e009";
  color: #ff0000;
}

/* Bug filters */

.bug-filters .dijitContentPane {
  padding: 0px;
}

.bug-filters > .dijitContentPane {
  padding: 5px;
  border-bottom: 1px solid rgba(86, 96, 105, 0.23);
}

.bug-filters > .dijitContentPane:last-child {
  border-bottom: none
}

.bug-filters .top-bar {
  display: block;
  overflow: hidden;
  margin-top: 5px;
}

/* Clear all button */

.bug-filters .clear-all-btn > .dijitButtonNode {
  background-color: #fff;
  background-image: none;
}

.bug-filters .clear-all-btn:hover > .dijitButtonNode {
  background-color: #007ea7;
  color: white;
}

/* Unique reports checkbox */

.bug-filters .is-unique {
  margin-left: 10px;
  display: inline-block;
  border: none;
  padding: 0px;
  vertical-align: middle;
}

/* All report counter */

.bug-filters .report-count-wrapper {
  float: right;
  padding: 5px;
}

.bug-filters .report-count-wrapper .bug {
  color: #ec7672;
}

.bug-filters .report-count-wrapper .count {
  color: #878d96;
}

/* Report filter group */

.bug-filters .header {
  clear: both;
}

.bug-filters .title {
  font-weight: bold;
}

/* Report filter operations */

.bug-filters .options {
  position: absolute;
  right: 5px;
}

.bug-filters .remove {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px 5px 5px 10px;
  margin: 0px;
  visibility: hidden;
  cursor: pointer;
  text-align: center;
}

.bug-filters .remove::before {
  content: "\e01e";
  color: #cb2431;
}

.bug-filters .select-menu-item:hover .remove {
  visibility: visible;
  background-color: #d6eaf1;
}

.bug-filters .select-menu-item:hover .count {
  display: none;
}

.bug-filters .edit::before {
  content: "\e01c";
  color: #878d96;
}

.bug-filters .clean,
.bug-filters .edit{
  cursor: pointer;
}

.bug-filters .clean::before {
  content: "\e013";
  color: #878d96;
}

/* Report filter tooltip */

.select-menu-filter {
  margin-bottom: 10px;
  width: 100%;
}

.select-menu-list {
  min-width: 300px;
  max-width: 500px;
  max-height: 300px;
}

.select-menu-list.dijitContentPane {
  padding: 0px;
}

.select-menu-list .select-menu-item .customIcon.selected:before {
  content: "\e01d";
  color: #28a745;
}

.select-menu-list .select-menu-item .customIcon.selected {
  visibility: hidden;
  margin-right: 5px;
  float: left;
}

.select-menu-list .select-menu-item.selected .customIcon.selected {
  visibility: visible;
}

.select-menu-list .select-menu-item {
  margin: 0px;
  overflow: hidden;
  color: inherit;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #eaecef;
  background-color: white;
}

.select-menu-list .select-menu-item:hover {
  background-color: #f1f1f1;
}

.select-menu-list .select-menu-item.no-item:hover {
  background-color: inherit;
  cursor: not-allowed;
  border: 0px;
}

.select-menu-list .select-menu-item.selected {
  background-color: #eef9fd;
}

/* Report filter items */

.select-menu-item {
  display: block;
  overflow: hidden;
  color: #292b2c;
  border: 1px solid #cee0e6;
  position: relative;
  margin: 2px;
  background-color: #f1fbff;
  cursor: pointer;
}

.select-menu-item.dijitContentPane,
.select-menu-list .select-menu-item {
  padding: 5px 0px 5px 10px;
}

.select-menu-item:hover {
  background-color: #d6eaf1;
}

.bug-filters .select-menu-item.none {
  border: none;
  background-color: inherit;
  cursor: inherit;
}

.bug-filters .select-menu-item.none:hover {
  background-color: inherit;
}

.select-menu-item .customIcon {
  vertical-align: text-top;
  float: left;
}

.select-menu-item .label{
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: ltr;
}

.select-menu-item .count {
  min-width: 16px;
  height: 16px;
  color: #878d96;
  padding: 5px 5px 5px 10px;
  position: absolute;
  right: 0;
  top: 0px;
  text-align: center;
}

.select-menu-item.disabled {
  cursor: not-allowed;
}

.bug-filters .select-menu-item.disabled:hover .count {
  display: inherit;
}

/* File filter */

.filepath .select-menu-item .label {
  direction: rtl;
}

.filepath .select-menu-item.none .label {
  direction: ltr;
}

/* Date filter */
.bug-filters .date-wrapper {
  margin-top: 5px;
  overflow: hidden;
}

.bug-filters .date-wrapper > div {
  width: 45%;
}

.bug-filters .first-detection-date,
.bug-filters .fix-date {
  float: left;
}

.bug-filters .first-detection-time,
.bug-filters .fix-time {
  float: right;
}

.select-menu-item .tag {
  color: #007ea7;
}

/*** Message box pane ***/

.mbox {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  margin-bottom: 12px;
}

.mbox .heading {
  display: block;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
}

.mbox .icon {
  display: inline-block;
  float: left;
  font-family: 'codechecker', Sans-Serif !important;
  font-size: 16px;
  margin-right: 12px;
}

.mbox .icon:before {
  content: "\e00c";
}

/* Error message box. */

.mbox.mbox-error {
  border-color: #e92625;
}

.mbox.mbox-error .heading {
  color: #e92625;
}

.mbox.mbox-error .icon {
  color: #e92625;
}

.mbox.mbox-error .icon:before {
  content: "\e015";
}

/* Success message box. */

.mbox.mbox-success {
  border-color: #669603;
}

.mbox.mbox-success .heading {
  color: #669603;
}

.mbox.mbox-success .icon {
  color: #669603;
}

.mbox.mbox-success .icon:before {
  content: "\e01d";
}

/* Run history */
.history-group {
  margin-bottom: 10px;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
}

.history-group .header {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  font-family: Arial, sans serif;
  display: inline-block;
  padding: 10px;
}

.history-group .content {
  padding: 10px;
}

.history {
  padding: 5px;
  border-bottom: 1px solid #e1e4e8;
}

.history:hover {
  cursor: pointer;
  background-color: #f5fdff;
}

.history:last-child {
  border-bottom: none;
}

.history .time {
  font-weight: bold;
  margin-right: 10px;
}

.history .run-name-wrapper,
.history .tag-wrapper,
.history .user-wrapper {
  margin-left: 5px;
}

.history .customIcon {
  color: #73a7b9;
}

.customIcon.run-name:before {
  content: "\e024";
}

.customIcon.tag:before {
  content: "\e020";
}

.customIcon.run:before {
  content: "\e021";
}

.customIcon.user:before {
  content: "\e022";
}

.customIcon.today:before {
  content : "T"
}

.text-icon {
  line-height: normal;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: bold;
}

.customIcon.today {
  background-color: #ee8985;
  color: white;
  font-weight: bold;

}

.customIcon.yesterday:before {
  content : "Y"
}

.customIcon.yesterday {
  background-color: #007ea7;
  color: white;
  font-weight: bold;
}

.select-menu-item .today,
.select-menu-item .yesterday {
  float: left;
}

/* Doxygen */

.doxgen .github {
  padding: 5px;
  font-size: 1.2em;
  background-color: #f1f7fb;
  border: 1px solid #d2e6f9;
}

.doxgen div {
  font: 400 14px/22px Roboto,sans-serif;
}

.doxgen .title {
  font: 400 14px/28px Roboto,sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin: 10px 2px;
}

.doxgen h1 {
  background-color: #007ea7;
  font-weight: normal;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
  line-height: 40px;
  border: 1px solid #fff;
  padding: 5px 15px;
  color: white;
  border-radius: 0 10px 0 10px;
  text-transform: capitalize;
}

.doxgen h2 {
  margin: 1em 0 0.5em 0;
  text-shadow: 0 -1px rgba(0,0,0,0.4);
  line-height: 40px;
  color: #007ea7;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(53,86,129, 0.3);
}

.doxgen h3 {
  margin: 1em 0 0.5em 0;
  color: #007ea7;
  text-transform: capitalize;
}

.doxgen a {
  color: #3D578C;
  font-weight: 400;
  text-decoration: none;
}

.doxgen div.toc {
  padding: 14px 25px;
  background-color: #F4F6FA;
  border: 1px solid #D8DFEE;
  border-radius: 7px 7px 7px 7px;
  float: right;
  height: auto;
  width: 200px;
}

.doxgen div.toc ul {
  list-style: none outside none;
  border: medium none;
  padding: 0px;
}

.doxgen div.toc li {
  font: 10px/1.2 Verdana,DejaVu Sans,Geneva,sans-serif;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 2px;
}

.doxgen div.toc h3 {
  font: bold 12px/1.2 Arial,FreeSans,sans-serif;
  color: #4665A2;
  border-bottom: 0 none;
  margin: 0;
}

.doxgen .image {
  text-align: center;
}

/* Checker statistics */
.dojoxCheckedMultiSelectMenu {
  max-height: 200px;
  display: flex;
}

.checker-statistics {
  display: flex;
  flex-direction: column;
}

.checker-statistics-filter {
  display: block;
  overflow: hidden;
}

.checker-statistics-list {
  flex-grow: 1;
}

.run-count-wrapper {
  padding: 10px;
}

.run-count {
  background-color: #7994a226;
  color: #5a6971;
  padding: 2px 5px;
  margin-left: 3px;
  border-radius: 15px;
  line-height: 1;
  font-weight: bold;
}

.customIcon.statistics:before {
  content: "\e023";
}

.customIcon.reports:before {
  content: "\e003";
}

.customIcon.list-opened:before {
  content: "\e004";
}

.customIcon.all-reports:before {
  content: "\e003";
}

.customIcon.all-reports:after {
  content: "A";
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px;
  font-size: 0.5em;
  background-color: #484848;
  color: white;
}

/* Removes orange border from focus */
.dijitTooltipBelow {
  outline: none;
}
