/* Do not use this stylesheet without codecheckerviewer.css! */

.invisible {
  visibility: hidden !important;
}

/*** Product grid ***/

#productGrid .dojoxGridCell {
  border: 0;
}

.dojoxGridCell.product-icon {
  text-align: center;
}

.dojoxGridCell.product-name {
  text-align: left;
  font-size: 12pt;
}

.dojoxGridCell.product-name .product-error {
  text-decoration: line-through;
}

.dojoxGridCell .product-description-error {
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

.dojoxGridCell .product-description-error.database {
  color: #b32424;
}

.dojoxGridCell .product-description-error.access {
  color: #5b6169;
}

div.product-avatar {
  width: 40px;
  height: 40px;
  border-radius: 55%;
  background-color: #eee;
}

span.product-avatar {
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  display: table-cell;
}

.dojoxGridCell.status {
  text-align: center;
}

.customIcon.product-noaccess {
  color: #5b6169;
}

.customIcon.product-noaccess:before {
  content: "\e014";
}

.customIcon.product-error {
  color: #b32424;
}

.customIcon.product-error:before {
  content: "\e015";
}

.customIcon.product-edit {
  color: #5b6169;
}

.customIcon.product-edit:before {
  content: "\e012";
}

.customIcon.product-edit:hover {
  color: #373c44;
  cursor: pointer;
}

.customIcon.product-delete {
  color: #d63434;
}

.customIcon.product-delete:before {
  content: "\e013";
}

.customIcon.product-delete:hover {
  color: #ff0000;
  cursor: pointer;
}

/*** Product delete confirmation dialog ***/

.deleteConfirmText {
  font-size: 16px;
}

.deleteConfirmText .warningHeader {
  color: #b32424;
  font-weight: bold;
  font-size: 18px;
}

/*** Product configuration dialog ***/

.formElement {
  display: block;
  margin: 2px;
  padding: 4px;
}

.formElement .formLabel {
  display: inline-block;
  margin-left: 5px;
  padding-right: 6px;
  width: 200px;
}

.formElement .formLabel.bold {
  font-weight: bold;
}

.formElement .form-input {
  width: 350px;
}

.formElement textarea.form-input {
  width: 346px;
}

.formElement input {
  display: inline-block;
}

.submit-btn {
  float: right;
  margin-top: 5px;
  margin-right: 8px;
  margin-bottom: 8px;
}

/*** Permission list panel ***/

/*.formElement select.permission-options {
  width: 300px;
}*/

.formElement .halflistContainer {
  display: inline-block;
  margin-right: 16px;
  width: 45%;
}

.formElement .permission-list {
  height: 150px;
  width: 100%;
}

.formElement .permission-list .dojoxCheckedMultiSelectWrapper {
  height: 100%;
  width: 100%;
  padding-right: initial;
}

.formElement .halflistContainer.users {
  margin-right: 32px;
}

.under-multiselect {
  margin-top: 8px;
}

.form-input.under-multiselect {
  width: 75%;
  margin-left: 6px;
}

.add-btn {
  float: right;
  margin-top: 6px;
}

#list-of-products {
  display: flex;
  flex-direction: column;
}

#productGrid {
  flex-grow: 1;
}