<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 9.0.0 (tags/RELEASE_900/final)</string>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>18</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>18</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>18</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Passing the value 0 via 1st parameter &apos;x&apos;</string>
     <key>message</key>
     <string>Passing the value 0 via 1st parameter &apos;x&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>18</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>18</integer>
         <key>col</key><integer>3</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>18</integer>
         <key>col</key><integer>8</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;foo&apos;</string>
     <key>message</key>
     <string>Calling &apos;foo&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>4</integer>
      <key>col</key><integer>1</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;main&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;main&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>4</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>4</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>5</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5</integer>
      <key>col</key><integer>12</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5</integer>
         <key>col</key><integer>10</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>5</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Division by zero</string>
     <key>message</key>
     <string>Division by zero</string>
    </dict>
   </array>
   <key>macro_expansions</key>
   <array/>
   <key>description</key><string>Division by zero</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Division by zero</string>
   <key>check_name</key><string>core.DivideZero</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6e9917f7697a248357b7856a0b9e3f7c</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>foo</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>5</integer>
   <key>col</key><integer>12</integer>
   <key>file</key><integer>1</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>17</integer>
    <integer>18</integer>
   </array>
   <key>1</key>
   <array>
    <integer>4</integer>
    <integer>5</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>notes</key>
   <array>
    <dict>
     <key>location</key>
     <dict>
      <key>line</key><integer>7</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>7</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>7</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>extended_message</key>
     <string>Similar code using &apos;c&apos; here</string>
     <key>message</key>
     <string>Similar code using &apos;c&apos; here</string>
    </dict>
   </array>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>11</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>11</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>11</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Potential copy-paste error; did you really mean to use &apos;b&apos; here?</string>
     <key>message</key>
     <string>Potential copy-paste error; did you really mean to use &apos;b&apos; here?</string>
    </dict>
   </array>
   <key>macro_expansions</key>
   <array/>
   <key>description</key><string>Potential copy-paste error; did you really mean to use &apos;b&apos; here?</string>
   <key>category</key><string>Code clone</string>
   <key>type</key><string>Suspicious code clone</string>
   <key>check_name</key><string>alpha.clone.CloneChecker</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>abbc7a5ad5985dda13a1a7c72fcd20b3</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>11</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>1</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>7</integer>
   </array>
   <key>1</key>
   <array>
    <integer>11</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>8</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>8</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>9</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>9</integer>
           <key>col</key><integer>21</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>9</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>9</integer>
         <key>col</key><integer>3</integer>
         <key>file</key><integer>2</integer>
        </dict>
        <dict>
         <key>line</key><integer>9</integer>
         <key>col</key><integer>21</integer>
         <key>file</key><integer>2</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Null pointer value stored to &apos;ptr&apos;</string>
     <key>message</key>
     <string>Null pointer value stored to &apos;ptr&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>10</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>10</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>10</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>10</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>10</integer>
      <key>col</key><integer>8</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>10</integer>
         <key>col</key><integer>4</integer>
         <key>file</key><integer>2</integer>
        </dict>
        <dict>
         <key>line</key><integer>10</integer>
         <key>col</key><integer>6</integer>
         <key>file</key><integer>2</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Dereference of null pointer (loaded from variable &apos;ptr&apos;)</string>
     <key>message</key>
     <string>Dereference of null pointer (loaded from variable &apos;ptr&apos;)</string>
    </dict>
   </array>
   <key>macro_expansions</key>
   <array>
    <dict>
     <key>location</key>
     <dict>
      <key>line</key><integer>9</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>name</key><string>SET_PTR_VAR_TO_NULL</string>
     <key>expansion</key><string>ptr = 0</string>
    </dict>
   </array>
   <key>description</key><string>Dereference of null pointer (loaded from variable &apos;ptr&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Dereference of null pointer</string>
   <key>check_name</key><string>core.NullDereference</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>17801daecc09ca719cdbbf6ca981a7b2</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>macroExpansion</string>
  <key>issue_hash_function_offset</key><string>3</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>10</integer>
   <key>col</key><integer>8</integer>
   <key>file</key><integer>2</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>2</key>
   <array>
    <integer>7</integer>
    <integer>8</integer>
    <integer>9</integer>
    <integer>10</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>14</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>17</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;x&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;x&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>macro_expansions</key>
   <array/>
   <key>description</key><string>Value stored to &apos;x&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>e89e35c2f8da04abaef375d64d50d80c</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>divideByZero</string>
  <key>issue_hash_function_offset</key><string>2</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>14</integer>
   <key>col</key><integer>9</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>14</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>13</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>13</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>13</integer>
         <key>col</key><integer>12</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;z&apos; is equal to 0</string>
     <key>message</key>
     <string>Assuming &apos;z&apos; is equal to 0</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>14</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>17</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Division by zero</string>
     <key>message</key>
     <string>Division by zero</string>
    </dict>
   </array>
   <key>macro_expansions</key>
   <array/>
   <key>description</key><string>Division by zero</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Division by zero</string>
   <key>check_name</key><string>core.DivideZero</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>7670f98ca31b4d5974bd1e88999cb9eb</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>divideByZero</string>
  <key>issue_hash_function_offset</key><string>2</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>14</integer>
   <key>col</key><integer>15</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>12</integer>
    <integer>13</integer>
    <integer>14</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>files/x.cpp</string>
  <string>files/x.h</string>
  <string>files/y.h</string>
  <string>files/empty.h</string>
 </array>
</dict>
</plist>
