lxml==5.3.0
sqlalchemy~=2.0
alembic~=1.5
pg8000~=1.31
psutil==5.9.8
portalocker==3.1.1

./api/py/codechecker_api/dist/codechecker_api.tar.gz
./api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
