$class-name: "" !default;

$outstanding-bg-color: #fef5f6;

$tr: "tr:not(.v-data-table__expanded__content)";

#{$class-name} tr.highlight-row td {
  background-color: $outstanding-bg-color !important;
}

#{$class-name} > table {
  & > thead > #{$tr}:not(:last-child) > th:not(.v-data-table__mobile-row),
  & > tbody > #{$tr}:not(:last-child) > td:not(.v-data-table__mobile-row) {
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
  }
}
