$class-name: '' !default;
$unreviewed_col: 3 !default;
$colspan: 1 !default;

$outstanding_reports_col: $unreviewed_col + 2;
$false_positive_col: $outstanding_reports_col + 1;
$suppressed_reports_col: $false_positive_col + 2;
$border_before: (
  $unreviewed_col,
  $outstanding_reports_col,
  $false_positive_col,
  $suppressed_reports_col,
  $suppressed_reports_col + 1
) !default;

$outstanding-bg-color: #fef5f6;
$suppressed-bg-color: #f2f6eb;
$darken: 2;

$tr: 'tr:not(.v-data-table__expanded__content)';

@mixin set-cells-color($cols...) {
  #{$class-name} table {
    @each $col in $cols {
      th:nth-child(#{$col}),
      td:nth-child(#{$col}) {
        @content;
      }
    }
  }
}

@mixin set-rows-color() {
  #{$class-name} > table {
    & > tbody > #{$tr} {
      @content;
    }
  }
}

@mixin set-bg-color($bg-color, $cols...) {
  // Base color
  @include set-cells-color($cols...) {
    background-color: $bg-color;
  }

  // Hover state
  #{$class-name} table tbody tr:hover {
    @each $col in $cols {
      td:nth-child(#{$col}) {
        background-color: darken($bg-color, 5%);
      }
    }
  }
}

// Set background color of outstanding report columns.
@for $i from $unreviewed_col through $outstanding_reports_col {
  @include set-bg-color($outstanding-bg-color, $i);
}

@include set-bg-color(darken($outstanding-bg-color, $darken), $outstanding_reports_col);

// Set background color of suppressed report columns.
@for $i from $false_positive_col through $suppressed_reports_col {
  @include set-bg-color($suppressed-bg-color, $i);
}

@include set-bg-color(darken($suppressed-bg-color, $darken), $suppressed_reports_col);

// Set border before some columns.
@each $i in $border_before {
  @include set-cells-color($i) {
    border-left: thin solid rgba(0, 0, 0, 0.12);
  }
}

#{$class-name} > table {
  & > thead > #{$tr}:not(:last-child) > th:not(.v-data-table__mobile-row),
  & > tbody > #{$tr}:not(:last-child) > td:not(.v-data-table__mobile-row) {
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
  }
}

.highlight-row {
  background-color: $outstanding-bg-color !important;
}
