<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>DEAD_STORE</string>
			<key>description</key>
			<string>The value written to &amp;i (type int) is never used.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>39f63b113fbd8c772fd3cd06bb2afcfa</string>
			<key>orig_issue_hash_content_of_line_in_context</key>
			<string>bb934aa5f0317f087aa2d897a1bee337</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2</integer>
					</dict>
					<key>message</key>
					<string>Write of unused value</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2</integer>
					</dict>
					<key>message</key>
					<string>The value written to &amp;i (type int) is never used.</string>
				</dict>
			</array>
			<key>type</key>
			<string>fbinfer</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>files/dead_store.cpp</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>fbinfer</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>report-converter</string>
			<key>version</key>
			<string>x.y.z</string>
		</dict>
	</dict>
</dict>
</plist>
