@charset "UTF-8";

/*** Main stuff ***/

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 10pt;
}

.hide {
  display: none !important;
}

.error {
  color: #e92625;
}

#mainLayout {
  height: 100%;
}

#headerPane {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  /*height: 42px;*/
  background-color: #007ea7;
}

#headerPane > * {
  margin: 8px;
}

#notification-container {
  display: flex;
  flex: 1 100%;
  justify-content: center;
  margin: 0px;
  background-color: #fffa00;
}

#notification-text {
  font-size: 16pt;
}


#logo-container {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 22pt;
  color: white;
}

#logo {
  background: left center no-repeat url(/images/logo.png);
  background-size: 42px;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  padding-right: 5px;
}

#logo, #logo-text {
  display: inline-block;
  vertical-align: middle;
}

#logo-title {
  font-family: Arial, sans serif;
  font-size: 18pt;
  padding-left: 32px;
  color: white;
}

.credits {
  width: 350px;
  text-align: center;
}

#logged-in {
  font-family: sans-serif;
  font-size: 11pt;
  color: white;
  padding-right: 10px;
}

#logged-in:hover {
  cursor: pointer;
}

#logged-in:hover .user-name {
  text-decoration: underline;
}

.avatar-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.avatar-wrapper .avatar {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

#profile-menu .header {
  padding-bottom: 5px;
}

#profile-menu .user-name {
  font-weight: bold;
  color: #357ea7;
}

#profile-menu .logout-btn {
  padding-bottom: 5px;
}

/** Remove orange outline from tooltip button. **/
#profile-menu .logout-btn .dijitButtonContents {
  outline: none;
}

#profile-menu .permission-title {
  border-top: 1px solid #b5bcc7;
  padding: 5px 0px;
}

#profile-menu .permissions {
  list-style-type: initial;
  margin: 0;
  padding: 0px 0px 0px 25px;
  font-weight: 600;
}

#header-menu {  
  /* position: absolute; */
  right: 10px;
  top: 10px;
}

/*** Run diff selector ***/

.diffDisplay {
  font-size: 11pt;
  display: inline-block;
  margin-left: 20px;
}

.diffDisplay span {
  font-weight: bold;
  font-family: monospace;
}

.del-btn, .diff-btn {
  float: right;
}

/*** Grid ***/

.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.compact {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
}

.ltr {
  direction: ltr;
}

/* (via http://stackoverflow.com/a/27961022/1428773) */
.compact:before {
  content: '\200e';
}

/*** Filter fields ***/

.filterText {
  margin-right: 5px;
}

.filterSelect {
  margin-right: 5px;
}

/*** Editor ***/

.checkerstep {
  background-color: #eeb;
}

.check-msg {
  display: inline-block;
  padding: 3px 6px;
  margin: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.tag.fixit {
  display: inline-block;
  background-color: #8a6d3b;
  padding: 2px 5px;
  color: white;
  text-transform: uppercase;
  margin-right: 5px;
}

.check-msg.info {
  color: #00546f;
  background-color: #bfdfe9;
  border: 1px solid #87a8b3;
}

.check-msg.error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebcccc;
}

.check-msg.fixit {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
}

.check-msg.macro {
  background-color: #d7dac2;
  color: #4f5c6d;
  border: 1px solid #d7dac2;
}

.check-msg.note {
  background-color: #d7d7d7;
  color: #4f5c6d;
  border: 1px solid #bfbfbf;
}

.check-msg.current {
  border: 2px dashed #3692ff;
}

.checker-enum {
  color: white;
  padding: 1px 5px;
  text-align: center;
  border-radius: 25px;
  margin-right: 5px;
  text-decoration: inherit;
}

.checker-enum.info {
  background-color: #427ea9;
}

.checker-enum.error {
  background-color: #a94442;
}

.checker-enum.fixit {
  background-color: #8a6d3b;
}

.check-msg .tag {
  padding: 1px 5px;
  text-align: center;
  border-radius: 2px;
  margin-right: 5px;
  text-decoration: inherit;
}

.check-msg .tag.macro {
  background-color: #83876a;
  color: white;
  text-transform: capitalize;
}

.check-msg .tag.note {
  background-color: #9299a1;
  color: white;
  text-transform: capitalize;
}

.editorHeader {
  border-bottom: 1px solid lightgrey;
  font-family: monospace;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  height: 26px;
}

.editorHeader .filepath {
  display: inline-block;
  padding: 4px;
}

.editorHeader .same-report-selector-wrapper {
  white-space: nowrap;
  display: inline-block;
  padding: 2px 2px 2px 10px;
}

.editorHeader .same-report-selector-label {
  margin-right: 5px;
}

.buildActionInfo dt {
  font-weight: bold;
}

.currentMark {
  background-color: #cdf;
}

.otherFileMsg {
  background-color: #007ea7;
  color: white;
  border: 1px solid #aaa;
  display: inline-block;
  padding: 1px 6px;
  margin: 1px;
  margin-left: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.otherFileMsg:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* -- Severities -- */
.dojoxGridCell.severity {
  text-align: center;
}

/* Avatar */
.avatar {
  display: table;
  color: white;
  text-align: center;
  font-weight: bold;
}

.avatar-content {
  display: table-cell;
  vertical-align: middle;
}

/* Review status */
.dojoxGridCell.review-status {
  text-align: center;
}

.review-comment-wrapper {
  position: relative;
}

.review-comment-wrapper .remove {
  position: absolute;
  top: 0;
  right: 0;
}

.review-comment {
  margin-left: 5px;
  cursor: pointer;
  color: grey;
}

.review-comment-message.compact {
  direction: ltr;
}

.review-comment-tooltip {
  width: 400px;
  word-wrap: break-word;
}

.review-comment-tooltip .header {
  margin: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #586069;
  color: #586069;
}

.review-comment-tooltip .author {
  font-weight: bold;
  padding-right: 5px;
  color: #007ea7;
}

.review-comment-tooltip .time {
  padding-left: 5px;
}

.review-comment-tooltip .avatar {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}

/* Detection status */

.dojoxGridCell.detection-status {
  text-align: center;
}

.detection-status-wrapper {
  display: inline-block;
}

.detection-status-wrapper .customIcon {
  padding-right: 0px;
}

.detection-status-wrapper .num {
  color: #767676;
  padding-left: 2px;
}

/*** Message box pane ***/

.mbox {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  margin-bottom: 12px;
}

.mbox .heading {
  display: block;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
}

.mbox .icon {
  display: inline-block;
  float: left;
  font-family: 'codechecker', Sans-Serif !important;
  font-size: 16px;
  margin-right: 12px;
}

.mbox .icon:before {
  content: "\e00c";
}

/* Error message box. */

.mbox.mbox-error {
  border-color: #e92625;
  padding: 5px;
}

.mbox.mbox-error .heading {
  color: #e92625;
}

.mbox.mbox-error .icon {
  color: #e92625;
}

.mbox.mbox-error .icon:before {
  content: "\e015";
}

/* Success message box. */

.mbox.mbox-success {
  border-color: #669603;
}

.mbox.mbox-success .heading {
  color: #669603;
}

.mbox.mbox-success .icon {
  color: #669603;
}

.mbox.mbox-success .icon:before {
  content: "\e01d";
}

.text-icon {
  line-height: normal;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: bold;
}

/* Doxygen */

.doxgen .github {
  padding: 5px;
  font-size: 1.2em;
  background-color: #f1f7fb;
  border: 1px solid #d2e6f9;
}

.doxgen div {
  font: 400 14px/22px Roboto,sans-serif;
}

.doxgen .title {
  font: 400 14px/28px Roboto,sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin: 10px 2px;
}

.doxgen h1 {
  background-color: #007ea7;
  font-weight: normal;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
  line-height: 40px;
  border: 1px solid #fff;
  padding: 5px 15px;
  color: white;
  border-radius: 0 10px 0 10px;
  text-transform: capitalize;
}

.doxgen h2 {
  margin: 1em 0 0.5em 0;
  text-shadow: 0 -1px rgba(0,0,0,0.4);
  line-height: 40px;
  color: #007ea7;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(53,86,129, 0.3);
}

.doxgen h3 {
  margin: 1em 0 0.5em 0;
  color: #007ea7;
  text-transform: capitalize;
}

.doxgen a {
  color: #3D578C;
  font-weight: 400;
  text-decoration: none;
}

.doxgen div.toc {
  padding: 14px 25px;
  background-color: #F4F6FA;
  border: 1px solid #D8DFEE;
  border-radius: 7px 7px 7px 7px;
  float: right;
  height: auto;
  width: 200px;
}

.doxgen div.toc ul {
  list-style: none outside none;
  border: medium none;
  padding: 0px;
}

.doxgen div.toc li {
  font: 10px/1.2 Verdana,DejaVu Sans,Geneva,sans-serif;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 2px;
}

.doxgen div.toc h3 {
  font: bold 12px/1.2 Arial,FreeSans,sans-serif;
  color: #4665A2;
  border-bottom: 0 none;
  margin: 0;
}

.doxgen .image {
  text-align: center;
}

.doxgen .image > img {
  max-width: 80%;
}

/* Checker statistics */
.dojoxCheckedMultiSelectMenu {
  max-height: 200px;
  display: flex;
}

.tab-count-wrapper {
  padding: 10px;
}

.tab-count {
  background-color: #7994a226;
  color: #5a6971;
  padding: 2px 5px;
  margin-left: 3px;
  border-radius: 15px;
  line-height: 1;
  font-weight: bold;
}

/* Removes orange border from focus */
.dijitTooltipBelow {
  outline: none;
}

.severity-statistics-list {
  width: 300px;
}

.statistic-header-wrapper {
  font-weight: 600;
  font-size: 1.5em;
  padding: 10px;
  color: #3680a9;
}

.statistic-header-wrapper .title {
  vertical-align: middle;
}

.export-to {
  padding: 4px;
  margin: 0 5px;
  font-weight: 600;
  font-size: small;
  vertical-align: middle;
  cursor: pointer;
}

.export-to:hover {
  text-decoration: underline;
}

.export-to-csv {
  background-color: #d9e4ee;
  color: #357ea7;
  border: 1px solid #cad2da;
}

.bug-path-length {
  position: relative;
}

.bug-path-length .length {
  display: block;
  text-align: center;
}

.same-report-selector .bug-path-length,
.dijitTree .bug-path-length,
.dijitTooltip .bug-path-length {
  padding: 0px 4px;
}

.cm-matchhighlight {
  background-color: lightgreen
}

.CodeMirror-selection-highlight-scrollbar {
  background-color: green
}

.checker-statistics-filter .is-unique {
  margin-left: 10px;
}

.checker-statistics-filter > label {
  font-weight: bold;
}

.component-description {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.component-description .component-item {
  padding: 2px;
  border-bottom: 1px solid #d9dbdd;
  margin-bottom: 2px;
}

.dijitTab .customIcon.bulb {
  color: #ffb604;
  font-weight: bold;
}

.tab-new-features-label {
  font-weight: bold;
}

/* Form labels */

.formElement {
  display: block;
  margin: 2px;
  padding: 4px;
}

.formElement .formLabel {
  display: inline-block;
  margin-left: 5px;
  padding-right: 6px;
  width: 200px;
}

.formElement .formLabel.bold {
  font-weight: bold;
}

/* Source Component Manager */
.source-component-manager .component-name,
.source-component-manager .component-value,
.source-component-manager .component-description {
  width: 50%;
}

.component-dialog .formLabel {
  width: 100px;
}

.source-component-manager .edit,
.source-component-manager .delete {
  cursor: pointer;
}

.source-component-manager .edit {
  color: #5b6169;
}
.source-component-manager .delete {
  color: #d63434;
}

.run-name-labels > .label {
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 0.7em;
}

.run-name-labels > .ctu {
  color: #007ea7;
  border: 1px solid #007ea7;
}

.run-name-labels > .stats {
  color: #669603;
  border: 1px solid #669603;
}

/* Analyzer statistics */
td .analyzer-statistics {
  cursor: pointer;
}

ul.analyzer-statistics,
ul.analyzer-statistics .items {
  padding: 0;
  margin: 0;
}

ul.analyzer-statistics h3 {
  margin: 0;
  background-color: #7fbed3;
  padding: 5px;
  color: white;
}

ul.analyzer-statistics .items {
  display: inline-block;
}

ul.analyzer-statistics .items > li {
  display: inline;
  margin-right: 5px;
}

ul.analyzer-statistics .num {
  color: #767676;
  padding-left: 2px;
}

ul.analyzer-statistics .link {
  color: #007ea7;
}

.analyzer-statistics .check {
  color: #587549;
}

.analyzer-statistics .remove {
  color: #964739;
}

.dijitDialog ul.analyzer-statistics {
  overflow: auto;
  height: 450px;
}

.dijitDialog ul.analyzer-statistics > li {
  margin-bottom: 10px;
}

.dijitDialog ul.analyzer-statistics .items > li {
  display: block;
}

.dijitDialog ul.analyzer-statistics .items {
  margin-left: 10px;
}

.dijitDialog ul.analyzer-statistics .customIcon {
  margin: 0;
}

.dijitDialog ul.analyzer-statistics .num {
  color: white;
  padding: 0px 5px;
  text-align: center;
  font-weight: bold;
}

.dijitDialog ul.analyzer-statistics .failed .num {
  background-color: red;
}

.dijitDialog ul.analyzer-statistics .successful .num {
  background-color: green;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  margin: 0px 5px;
}

.arrow:hover {
  border: solid #437ea8;
  border-width: 0 3px 3px 0;
}

.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
