.comment-btn {
  float: right;
}

.comment-count {
  color: #767676;
  vertical-align: initial;
  padding-left: 3px;
}

.comment-view .comment {
  border: 1px solid #fff;
}

.comment-view .comment:hover {
  background-color: #fbfbfb;
  border: 1px solid #f1f1f1;
}

.comment-view .header {
  position: relative;
}

.comment-view .reply {
  overflow: initial;
}

.comment-view .reply-author {
  margin-bottom: 5px;
}

.comment-view .reply-btn {
  float: right;
  margin-top: 5px;
  margin-right: -5px;
}

.comment .avatar {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.comment .avatar-content {
  font-size: 2em;
}

.comment .vb {
  display: grid;
}

.comment .time {
  color: #767676;
}

.comment .author {
  font-weight: bold;
  color: #403d3d;
}

.comment .operations {
  position: absolute;
  top: 0;
  right: 0;
}

.comment .customIcon {
  cursor: pointer;
  color: #767676;
}

.comment .customIcon:hover {
  color: #000;
}
