<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>DLS_DEAD_LOCAL_STORE</string>
			<key>description</key>
			<string>Dead store to $L1 in Assign.main(String[])</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>85a884ed377cf0e258abe7cf9acbbd81</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>orig_issue_hash_content_of_line_in_context</key>
			<string>31d25c93ca824a832958c47cb869f2dd</string>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>In class Assign</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>In method Assign.main(String[])</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>Dead store to $L1 in Assign.main(String[])</string>
				</dict>
			</array>
			<key>type</key>
			<string>spotbugs</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>DLS_DEAD_LOCAL_STORE</string>
			<key>description</key>
			<string>Dead store to $L1 in Assign.main(String[])</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>85a884ed377cf0e258abe7cf9acbbd81</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>orig_issue_hash_content_of_line_in_context</key>
			<string>31d25c93ca824a832958c47cb869f2dd</string>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>In class Assign</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>In method Assign.main(String[])</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>Dead store to $L1 in Assign.main(String[])</string>
				</dict>
			</array>
			<key>type</key>
			<string>spotbugs</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>NM_FIELD_NAMING_CONVENTION</string>
			<key>description</key>
			<string>The field name Assign.CapitalAttribute doesn't start with a lower case letter</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2008de45162aee2770ac24c9dfd8fca7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1</integer>
			</dict>
			<key>orig_issue_hash_content_of_line_in_context</key>
			<string>b83078cc9ee341727b6080508d3ea647</string>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>In class Assign</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>The field name Assign.CapitalAttribute doesn't start with a lower case letter</string>
				</dict>
			</array>
			<key>type</key>
			<string>spotbugs</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>SA_LOCAL_DOUBLE_ASSIGNMENT</string>
			<key>description</key>
			<string>Double assignment of $L1 in Assign.main(String[])</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>30270e7a3c1846a0590977d42b599b4d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>orig_issue_hash_content_of_line_in_context</key>
			<string>e1cf1dc4a9b1c3d79dd9c35d9c7ce70f</string>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>In class Assign</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>In method Assign.main(String[])</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>Double assignment of $L1 in Assign.main(String[])</string>
				</dict>
			</array>
			<key>type</key>
			<string>spotbugs</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>UC_USELESS_VOID_METHOD</string>
			<key>description</key>
			<string>Method Assign.main(String[]) seems to be useless</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>59a6fcef60c5ebd9d0fcfbca8983f932</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>7</integer>
			</dict>
			<key>orig_issue_hash_content_of_line_in_context</key>
			<string>70d8a57a28b1c7b40c2e2f8d20e2524</string>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>In class Assign</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>In method Assign.main(String[])</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>0</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>7</integer>
					</dict>
					<key>message</key>
					<string>Method Assign.main(String[]) seems to be useless</string>
				</dict>
			</array>
			<key>type</key>
			<string>spotbugs</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>UUF_UNUSED_FIELD</string>
			<key>description</key>
			<string>Unused field: Assign.CapitalAttribute</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d40721a8732ea43f5dc132fe621bc686</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1</integer>
			</dict>
			<key>orig_issue_hash_content_of_line_in_context</key>
			<string>ee93958ba842675fc1c80739679e2031</string>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>In class Assign</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>Unused field: Assign.CapitalAttribute</string>
				</dict>
			</array>
			<key>type</key>
			<string>spotbugs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>files/Assign.java</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>spotbugs</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>report-converter</string>
			<key>version</key>
			<string>x.y.z</string>
		</dict>
	</dict>
</dict>
</plist>
