<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>no-unused-vars</string>
			<key>description</key>
			<string>'foo' is defined but never used.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7e3725bafb6ffc919c131e859f729143</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>'foo' is defined but never used.</string>
				</dict>
			</array>
			<key>type</key>
			<string>eslint</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>indent</string>
			<key>description</key>
			<string>Expected indentation of 4 spaces but found 2.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e55352d5248f8dc17a581c3db9af9e8e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2</integer>
					</dict>
					<key>message</key>
					<string>Expected indentation of 4 spaces but found 2.</string>
				</dict>
			</array>
			<key>type</key>
			<string>eslint</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>indent</string>
			<key>description</key>
			<string>Expected indentation of 4 spaces but found 2.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>34f3004cf06144ecda1c7ff57d054d99</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>3</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>3</integer>
					</dict>
					<key>message</key>
					<string>Expected indentation of 4 spaces but found 2.</string>
				</dict>
			</array>
			<key>type</key>
			<string>eslint</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>no-undef</string>
			<key>description</key>
			<string>'x' is not defined.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f6b1c6499d4949f19a7c40f3056c2b33</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>3</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>3</integer>
					</dict>
					<key>message</key>
					<string>'x' is not defined.</string>
				</dict>
			</array>
			<key>type</key>
			<string>eslint</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>no-unreachable</string>
			<key>description</key>
			<string>Unreachable code.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d9259845b3e34c1ae4698fb86d97619a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>3</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>3</integer>
					</dict>
					<key>message</key>
					<string>Unreachable code.</string>
				</dict>
			</array>
			<key>type</key>
			<string>eslint</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>files/index.js</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>eslint</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>report-converter</string>
			<key>version</key>
			<string>x.y.z</string>
		</dict>
	</dict>
</dict>
</plist>
