Authlib<2
requests<=2.32.4  # Required by Authlib. Not installed automatically for some reason.
lxml<=5.3.0
sqlalchemy<=1.4.54
alembic<=1.5.5
portalocker<4
psutil<8
multiprocess<=0.70.15
thrift<=0.22.0
gitpython<4
PyYAML<=6.0.1
types-PyYAML<=6.0.12.12
sarif-tools<=3.0.4
argcomplete<=3.5.1

./api/py/codechecker_api/dist/codechecker_api.tar.gz
./api/py/codechecker_api_shared/dist/codechecker_api_shared.tar.gz
